# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: CI/CD

on:
  push:
    branches:
      - main
      - dev

  pull_request:
    branches: ["main", "dev"]

  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: Test, Lint, Type Check & Format

    strategy:
      matrix:
        python-version: ["3.13"]
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python ${{ matrix.python-version }}
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Package dependencies
        run: |
          uv sync

      - name: Ruff Formatting.
        run: uv run ruff format --check --diff

      - name: Ruff Type Checking.
        run: uv run ruff check --fix pyqtui tests examples

      - name: Pytest Unittesting.
        run: uv run --dev pytest
